services:

# PHP/Apache service
  web:
    build: .

    # Connect http://localhost:8003 to port 80 inside the container
    ports:
      - "8003:80"

    volumes:
      # 1. Link project folder ('.') to the '/var/www/html' folder inside the container
      - .:/var/www/html

      # Overwrite default Apache config with custom apache-config.conf file
      - ./apache-config.conf:/etc/apache2/sites-available/000-default.conf

    depends_on:
      - db

  # Database service
  db:
    image: mysql:8.0
    # Map container port 3306 to host port 3306
    ports:
      - "3306:3306"

    # Set necessary environment variables
    environment:
      MYSQL_ROOT_PASSWORD: root_password # Use a strong password here
      MYSQL_DATABASE: auction_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password

    # Persist the data in a named volume so data is not lost when containers restart
    volumes:
      - db-data:/var/lib/mysql

# Named volumes
volumes:
  db-data:

